#graph {
    margin: auto;
    height: 750px;
    width: 50%;
}

#graph .chart {
    width: 100%;
    height: 350px;
    margin: 25px 0 0 0;
}

#graph #input {
    width: 100%;
    height: 50px;
}

#graph #input * {
    text-align: left;
    width: 100%;
}

#graph #input .param {
    padding: 5px;
    width: 16.66%;
    float: left;
}

#graph #input p {
    margin: 5px;
    font-weight: bold;
}

#graph #input input {
    padding: 5px;
}

#graph #input input:read-write {
    box-shadow: inset 0 0 5px #D8DEE9;
}

#graph #input input:read-write:focus {
    background-color: #ECEFF4;
}
